body {
    background: #f4f4f4;
    font-family: Arial, Tahoma, sans-serif;
    font-size:16px;


}


#header {
    width: 960px;
    height: 307px;
    /*border: 1px red solid;*/
    margin: 0 auto;
}

#header-top-block{
    height: 60px;
    padding: 15px;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #f9f9f9;
    margin-bottom: 15px;
}

#header-top-line{
    height: 30px;
    border: 1px #efefef solid;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfcfc+0,efefef+100 */
    background: #fcfcfc; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcfcfc 0%, #efefef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fcfcfc 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fcfcfc 0%,#efefef 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fcfcfc 0%,#efefef 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fcfcfc 0%,#efefef 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
    border-radius: 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3px 2px 1px 2px ;
    font-family: 'Bad Script', Arial, serif; font-weight: 400;
    font-size: 24px;
    color:#0a55af;


}

#header-top-line img{
    width:23px;
    display:block;
    float:left;
    margin-left:1px;
}

#header-top-line p{
    margin-top:2px;
    float:right;
}

#header-main-line {
    height: 60px;
    border: 1px #7ec7f0 solid;
    border-radius: 4px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#20a3ed+0,124585+86 */
    background: #20a3ed; /* Old browsers */
    background: -moz-linear-gradient(top,  #20a3ed 0%, #124585 86%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#20a3ed), color-stop(86%,#124585)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #20a3ed 0%,#124585 86%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #20a3ed 0%,#124585 86%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #20a3ed 0%,#124585 86%); /* IE10+ */
    background: linear-gradient(to bottom,  #20a3ed 0%,#124585 86%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20a3ed', endColorstr='#124585',GradientType=0 ); /* IE6-9 */
    padding-left:10px;
    padding-right:0px;
    margin-bottom:67px;
}

#header-main-line p{
    font-family: 'Bad Script', Arial, serif; font-weight: 400;
    font-size: 38px;
    color:#FFFFFF;
    float: left;
    margin-top:15px;

}

#header-main-line a img{
    width: 60px;
    display:block;
    float:left;
    margin-top: -36px;

 }

#pagemenu-container {
    display: block;
    float: right;

}

#pagemenu li{
    float:left;
}


#pagemenu li:first-child a{
    border-left: 0px;
}

#pagemenu li:last-child a{
    border-right: 0px;
    padding-right: 15px;
}

#pagemenu li a{
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    height: 60px;
    border-left: 1px solid  #0d6da5;
    border-right: 1px solid #459bd5;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 33px;
    padding-bottom: 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#pagemenu li a:hover{
    background:#0f3e7b;
}

#main-nav{
    display:block;
    float:left;
    /*border:1px solid black;*/
}

#main-menu li{
    float:left;

}

#main-menu a img{
    height:90px;
    margin-top: -43px;
    margin-right:10px;
    margin-left:10px;
}


#main-menu li a{
    width:120px;
    height: 82px;
    color:#000000;
    display:block;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    text-decoration: none;
    text-align: center;
    font-size: 15px;
    border-top: 1px #e3e2e2 solid;
    border-bottom: 1px #e3e2e2 solid;
    border-right: 1px #e3e2e2 solid;


    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fdfdfc+38,fdfdfc+38,efefef+98 */
    background: #fdfdfc; /* Old browsers */
    background: -moz-linear-gradient(top,  #fdfdfc 38%, #fdfdfc 38%, #efefef 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(38%,#fdfdfc), color-stop(38%,#fdfdfc), color-stop(98%,#efefef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fdfdfc 38%,#fdfdfc 38%,#efefef 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fdfdfc 38%,#fdfdfc 38%,#efefef 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fdfdfc 38%,#fdfdfc 38%,#efefef 98%); /* IE10+ */
    background: linear-gradient(to bottom,  #fdfdfc 38%,#fdfdfc 38%,#efefef 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfc', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */

    margin-bottom: 32px

}

#main-menu li:first-child a{
    border-left: 1px #e3e2e2 solid;
}

#main-menu li a:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#119ded+1,094697+89,094697+89,094697+91,094697+91,094697+93 */
    background: #119ded; /* Old browsers */
    background: -moz-linear-gradient(top,  #119ded 1%, #094697 89%, #094697 89%, #094697 91%, #094697 91%, #094697 93%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#119ded), color-stop(89%,#094697), color-stop(89%,#094697), color-stop(91%,#094697), color-stop(91%,#094697), color-stop(93%,#094697)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #119ded 1%,#094697 89%,#094697 89%,#094697 91%,#094697 91%,#094697 93%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #119ded 1%,#094697 89%,#094697 89%,#094697 91%,#094697 91%,#094697 93%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #119ded 1%,#094697 89%,#094697 89%,#094697 91%,#094697 91%,#094697 93%); /* IE10+ */
    background: linear-gradient(to bottom,  #119ded 1%,#094697 89%,#094697 89%,#094697 91%,#094697 91%,#094697 93%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#119ded', endColorstr='#094697',GradientType=0 ); /* IE6-9 */
    color: #ffffff;
}

#Content {
    width:960px;
    /*height: 1315px;*/
    background:#ffffff;
    margin: 0 auto;
    margin-bottom: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top:15px;
    padding-left:15px;
    padding-right:15px;
     }


#content-header {
    height: 93px;
   /* border: 1px black solid;*/

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1f1f1+0,f1f1f1+0,ffffff+83 */
    background: #f1f1f1; /* Old browsers */
    background: -moz-linear-gradient(top,  #f1f1f1 0%, #f1f1f1 0%, #ffffff 83%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(0%,#f1f1f1), color-stop(83%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f1f1f1 0%,#f1f1f1 0%,#ffffff 83%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f1f1f1 0%,#f1f1f1 0%,#ffffff 83%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f1f1f1 0%,#f1f1f1 0%,#ffffff 83%); /* IE10+ */
    background: linear-gradient(to bottom,  #f1f1f1 0%,#f1f1f1 0%,#ffffff 83%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    border-radius: 4px;

}


#main-content {
     /*border: 1px black solid;*/
    width: 593px;
    margin: 0 15px 0 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display:block;
    float:left;
    margin-top: -76px;


}


.post a img{
    width: 201px;
    height: 116px;
    padding:4px;
    border: 1px #d6d1d1 solid;
    float:left;
    margin-right:12px;
    margin-bottom:12px;
}

.post h2 a{
    color: #000000;
    font-size:30px;
    text-decoration: none;
    margin-bottom: 12px;
}

.post h2 a:hover{
    color: #119ded;
}

.postdate {
    color:#aec7dd;
    margin-top:12px;
    margin-bottom:12px;
    float:left;
    display:block;

}

.postdate img{
    border: none;
    vertical-align: middle;
    height: 22px;
    margin:5px;
    float:left;
    margin-top: -4px;
}

.postdate p{
    float:left;
}


.rubrika-header{

    display:block;
    margin-bottom: 12px;
}

.rubrika-header p.rubrika{
    text-align:right;
    font-size: 16px;
    color: #456bac;
}

.post p{
    text-align: justify;
    display:block;
    line-height: 1.5;
    color: #58564e;
}

.readmorecontent {
    margin-right: 0px;
    margin-left: 435px;
    clear:both;
    margin-bottom: 18px;
    margin-top: 18px;

}

.readmorecontent a{
    display: block;
    width: 157px;
    height: 38px;
    border: 1px solid #e3e2e2;
    text-decoration: none;
    color:#000000;
    text-align: center;
    vertical-align: middle;
    padding:10px 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;


    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fdfdfc+38,fdfdfc+38,efefef+98 */
    background: #fdfdfc; /* Old browsers */
    background: -moz-linear-gradient(top,  #fdfdfc 38%, #fdfdfc 38%, #efefef 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(38%,#fdfdfc), color-stop(38%,#fdfdfc), color-stop(98%,#efefef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fdfdfc 38%,#fdfdfc 38%,#efefef 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fdfdfc 38%,#fdfdfc 38%,#efefef 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fdfdfc 38%,#fdfdfc 38%,#efefef 98%); /* IE10+ */
    background: linear-gradient(to bottom,  #fdfdfc 38%,#fdfdfc 38%,#efefef 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfc', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */

}

.readmorecontent a:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#119ded+1,094697+89,094697+89,094697+91,094697+91,094697+93 */
    background: #119ded; /* Old browsers */
    background: -moz-linear-gradient(top,  #119ded 1%, #094697 89%, #094697 89%, #094697 91%, #094697 91%, #094697 93%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#119ded), color-stop(89%,#094697), color-stop(89%,#094697), color-stop(91%,#094697), color-stop(91%,#094697), color-stop(93%,#094697)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #119ded 1%,#094697 89%,#094697 89%,#094697 91%,#094697 91%,#094697 93%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #119ded 1%,#094697 89%,#094697 89%,#094697 91%,#094697 91%,#094697 93%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #119ded 1%,#094697 89%,#094697 89%,#094697 91%,#094697 91%,#094697 93%); /* IE10+ */
    background: linear-gradient(to bottom,  #119ded 1%,#094697 89%,#094697 89%,#094697 91%,#094697 91%,#094697 93%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#119ded', endColorstr='#094697',GradientType=0 ); /* IE6-9 */
    color: #ffffff;
}

.post{
    margin-top:20px;
    border-bottom:1px solid #e3e2e2;
    display:block;
    /*height: 309px;*/
}

#sidebar-right{
    margin-top: -76px;
    display: block;
    float:left;
    /*border: 1px black solid;*/
}

#search {
    margin-top:20px;
    width: 295px;
    height: 36px;
    border: 2px solid #e3e2e2;
    /*float:left;*/
    display:block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 4px;
    /*clear: both;*/

}

#search-form{
    display:block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#search-form input[type=text] {
    width: 241px;
    height: 20px;
    text-align: left;
    border:0px;
    margin: 5px 4px 4px 12px;
    font-size: 18px;
    display:block;
    float:left;

}

#search-form input[type=submit] {
    width: 34px;
    height: 34px;
    background: url("../img/search.png") top center no-repeat;
    border:0px;
    padding:0px;
    margin:0px;
    cursor:pointer;
    display: block;
}


/*#vidget {*/
    /*width:295px;*/
    /*height: 400px;*/
    /*display:block;*/
    /*border: 1px black solid;


}*/

.vidget-title {
    width: 295px;
    height: 54px;
    border-top: 1px solid #e3e2e2;
    border-left: 1px solid #e3e2e2;
    border-right: 1px solid #e3e2e2;
    border-bottom: 2px solid #155dd6;

    /*display:block;*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top: 24px;

    font-size:22px;
    text-align:left;
    padding-left:15px;
    padding-top:15px;
    padding-bottom:10px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fdfdfc+38,fdfdfc+38,efefef+98 */
    background: #fdfdfc; /* Old browsers */
    background: -moz-linear-gradient(top,  #fdfdfc 38%, #fdfdfc 38%, #efefef 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(38%,#fdfdfc), color-stop(38%,#fdfdfc), color-stop(98%,#efefef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fdfdfc 38%,#fdfdfc 38%,#efefef 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fdfdfc 38%,#fdfdfc 38%,#efefef 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fdfdfc 38%,#fdfdfc 38%,#efefef 98%); /* IE10+ */
    background: linear-gradient(to bottom,  #fdfdfc 38%,#fdfdfc 38%,#efefef 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfc', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
}


.vidget-text li a{
    width: 295px;
    height: 54px;
    /*float:left;*/
    display:block;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-left: 1px solid #e3e2e2;
    border-right: 1px solid #e3e2e2;
    border-bottom: 2px solid #e3e2e2;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    font-size:16px;
    text-align:left;
    padding-left:15px;
    padding-top:17px;
    padding-bottom:17px;
    text-decoration:none;
    color:#000000;

}

.vidget-text li a:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#119ded+1,094697+89,094697+89,094697+91,094697+91,094697+93 */
    background: #119ded; /* Old browsers */
    background: -moz-linear-gradient(top,  #119ded 1%, #094697 89%, #094697 89%, #094697 91%, #094697 91%, #094697 93%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#119ded), color-stop(89%,#094697), color-stop(89%,#094697), color-stop(91%,#094697), color-stop(91%,#094697), color-stop(93%,#094697)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #119ded 1%,#094697 89%,#094697 89%,#094697 91%,#094697 91%,#094697 93%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #119ded 1%,#094697 89%,#094697 89%,#094697 91%,#094697 91%,#094697 93%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #119ded 1%,#094697 89%,#094697 89%,#094697 91%,#094697 91%,#094697 93%); /* IE10+ */
    background: linear-gradient(to bottom,  #119ded 1%,#094697 89%,#094697 89%,#094697 91%,#094697 91%,#094697 93%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#119ded', endColorstr='#094697',GradientType=0 ); /* IE6-9 */
    color: #ffffff;
}

#clear {
    clear:both;
}

#navigation{
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing:border-box;
    display:block;
    float:left;
    /*border: 1px solid black;*/

}

#pagenavi {
    /*border: 1px solid black;*/
    display:block;
    float: left;
    box-sizing: border-box;
    margin-top: 12px;
}

span.pages {
    height: 35px;
    border: solid 1px #B6B6B6 !important;
    color: #333333 !important;
    padding: 10px 9px 6px 9px !important;
    display:block;
    text-align: center;
    box-sizing: border-box;
    float:left;
    font-size: 12px;
    margin-left:30px;
    margin-right:3px;
    margin-top:-6px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3f3f3+0,e6e6e6+100 */
    background: #f3f3f3; /* Old browsers */!
    background: -moz-linear-gradient(top,  #f3f3f3 0%, #e6e6e6 100%); /* FF3.6+ */!
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */!
    background: -webkit-linear-gradient(top,  #f3f3f3 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */!
    background: -o-linear-gradient(top,  #f3f3f3 0%,#e6e6e6 100%); /* Opera 11.10+ */!
    background: -ms-linear-gradient(top,  #f3f3f3 0%,#e6e6e6 100%); /* IE10+ */!
    background: linear-gradient(to bottom,  #f3f3f3 0%,#e6e6e6 100%); /* W3C */!
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */!

}

.current {
    height: 35px;
    font-size:20px;
    vertical-align: middle;
    padding: 6px 9px 6px 9px !important;
    border: solid 1px #DCDCDC !important;
    color: #fff !important;
    box-shadow: 0px 1px #E7E7E7 !important;
    -moz-box-shadow: 0px 1px #E7E7E7 !important;
    -webkit-box-shadow: 0px 1px #E7E7E7 !important;
    margin-right: 3px !important;
    text-shadow: 0px 1px #388DBE !important;
    border-color: #3390CA !important;
    background: #58B0E7 !important;
    background: -moz-linear-gradient(top,#B4F6FF 1px,#63D0FE 1px,#58B0E7) !important;
    background: -webkit-gradient(linear,0 0,0 100%,color-stop(0.02,#B4F6FF),color-stop(0.02,#63D0FE),color-stop(1,#58B0E7)) !important;
}

.larger {
    color: #333333 !important;
    text-shadow: 0px 1px #F6F6F6 !important;
    padding: 6px 9px 6px 9px !important;
    border: solid 1px #B6B6B6 !important;
    box-shadow: 0px 1px #EFEFEF !important;
    -moz-box-shadow: 0px 1px #EFEFEF !important;
    -webkit-box-shadow: 0px 1px #EFEFEF !important;
    background: #E6E6E6 !important;
    background: -moz-linear-gradient(top,#FFFFFF 1px,#F3F3F3 1px,#E6E6E6) !important;
    background: -webkit-gradient(linear,0 0,0 100%,color-stop(0.02,#FFFFFF),color-stop(0.02,#F3F3F3),color-stop(1,#E6E6E6)) !important;
    font-size: 12px !important;
    margin-right: 3px !important;
    text-decoration: none !important;
}


.last {
    font-size: 15px !important;
    padding: 4px 8px !important;
    color: #232323 !important;
    background: none !important;
    border: 1px solid #fff !important;
}

#pagenavi a:hover{

    border: solid 1px #DCDCDC !important;
    color: #fff !important;
    box-shadow: 0px 1px #E7E7E7 !important;
    -moz-box-shadow: 0px 1px #E7E7E7 !important;
    -webkit-box-shadow: 0px 1px #E7E7E7 !important;
    margin-right: 3px !important;
    text-shadow: 0px 1px #388DBE !important;
    border-color: #3390CA !important;
    background: #58B0E7 !important;
    background: -moz-linear-gradient(top,#B4F6FF 1px,#63D0FE 1px,#58B0E7) !important;
    background: -webkit-gradient(linear,0 0,0 100%,color-stop(0.02,#B4F6FF),color-stop(0.02,#63D0FE),color-stop(1,#58B0E7)) !important;

}

#footer {
    width:960px;
    height: 110px;
    background:#ffffff;
    margin: 0 auto;
    margin-bottom: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top:15px;
    padding-left:15px;
    padding-right:15px;

}

#footer-menu-container {
    width: 593px;
    margin:0;
    display:block;
    float:left;
}

#footer-menu li a{

    float:left;
    text-decoration:none;
    color:#000000;
    /*margin-left: 15px;*/
    margin-right: 5px;
    margin-bottom: 17px;

}


#footer-menu li a:hover{

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#119ded+1,094697+89,094697+89,094697+91,094697+91,094697+93 */
    background: #119ded; /* Old browsers */
    background: -moz-linear-gradient(top,  #119ded 1%, #094697 89%, #094697 89%, #094697 91%, #094697 91%, #094697 93%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#119ded), color-stop(89%,#094697), color-stop(89%,#094697), color-stop(91%,#094697), color-stop(91%,#094697), color-stop(93%,#094697)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #119ded 1%,#094697 89%,#094697 89%,#094697 91%,#094697 91%,#094697 93%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #119ded 1%,#094697 89%,#094697 89%,#094697 91%,#094697 91%,#094697 93%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #119ded 1%,#094697 89%,#094697 89%,#094697 91%,#094697 91%,#094697 93%); /* IE10+ */
    background: linear-gradient(to bottom,  #119ded 1%,#094697 89%,#094697 89%,#094697 91%,#094697 91%,#094697 93%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#119ded', endColorstr='#094697',GradientType=0 ); /* IE6-9 */
    color: #ffffff;


}
#copyright {
    float:left;
}



#minion-footer img{
    float:right;
    height: 80px;
    margin-right: 15px;



}